<nav class="navbar navbar-default" ng-controller="MainCtrl">
        <div class="container-fluid navbar-class">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand font-color" ui-sref="#">MeetMe</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" style="margin-left: 150px;">
                <ul class="nav navbar-nav">
                    <li><a class="font-color" ui-sref="features">Features</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle font-color" data-toggle="dropdown" ui-sref="download">Download</a>
                    </li>
                    <li><a class="font-color" ui-sref="security">Security</a></li>
                    <li><a class="font-color" ui-sref="faq">FAQ</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="!isLoggedIn">
                    <li><a class="font-color" ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a class="font-color" ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="isLoggedIn">
                    <li ng-click="fnLogOut()"><a class="font-color"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>