.login-view{
	md-input-container{
		margin: 10px 0;
	}
}
.login-div{
	    padding-top: 3%;
		border-top: 3px solid rgb(63,81,181);
	.login-image-div{
		height: 600px;
		.login-image-class{
			height: 450px;
			margin-right: 40px;
			}
		.login-button-div{
			.login-button{
				width: 250px;
				margin-left: 150px;
			}
			.forgot-button{
				width: 250px;
			}
		}	
	}
	
	.login-footer-div{
		.login-icon-div{
			margin-top: 20px;
			.login-icon{
				color: #5f90db;
				font-size: 30px;
			}
		}
	}
	
}

