<md-card ng-controller='loginCtrl'>
    <div layout='row' class="login-div">
        <div class="login-image-div" flex-lg="40" flex-md='40' flex-sm="40" flex-xs="40">
            <img class="login-image-class" src="./images/14.jpg">
        </div>
        <div flex-lg="20" flex-md="20" flex-sm="20" flex-xs="20">
        </div>
        <div flex-lg="40" flex-md="40" flex-sm="40" flex-xs="40">
            <md-card-content>
                <div layout="column">
                    <md-input-container>
                        <input type="text" ng-model="username" placeholder="USERNAME">
                    </md-input-container>
                </div>
                <br>
                <div layout="column">
                    <md-input-container>
                        <input type="text" ng-model="password" placeholder="PASSWORD">
                    </md-input-container>
                </div>
                <br>
                <div layout="row">
                    <md-checkbox ng-model="isChecked" flex-lg="30" flex-md="30" flex-sm="30" flex-xs="30">
                        Remeber login
                    </md-checkbox>
                </div>
                <br>
                <br>
                <div class="login-button-div">
                    <md-button class="login-button md-raised md-primary"> LOGIN </md-button>
                    <br>
                    <br>
                    <md-button class="forgot-button md-raised"> Forgot Button? </md-button>
                </div>
            </md-card-content>
            <md-card-footer>
                <div layout="column" class="login-footer-div">
                    <h4><b>LOG IN WITH</b></h4>
                    <div class="login-icon-div">
                        <span class="login-icon"><md-button ng-click='onFBLogin()'><i class="fa fa-facebook" aria-hidden="true"></i></md-button></span>
                        <span class="login-icon-class"><md-button><i class="fa fa-twitter" aria-hidden="true"></i></md-button></span>
                        <md-button ng-click='onGoogleLogin()'><span class="login-icon-class"><i class="fa fa-google" aria-hidden="true"></i></span></md-button>
                        <md-button><span class="login-icon-class"><i class="fa fa-yahoo" aria-hidden="true"></i></span></md-button>      
                    </div>
                </div>
            </md-card-footer>
            <p>{{gmail.username}}</p>
            <p>{{gmail.email}}</p>
            <img ng-src="{{g_image}}" style="height: 100px;width:100px;">

            <p>{{facebook.username}}</p>
            <p>{{facebbok.email}}</p>
            <img ng-src="{{fb_image}}" style="height: 100px;width:100px;">
        </div>
    </div>
</md-card>
