<div layout='row' class="login-view">
  <div flex-offset-lg='30' flex-lg='50' flex-offset-md='30' flex-md='50' flex-offset-sm='10' flex-sm='50' flex-offset-xs='10'
    flex-xs='50'>
    <md-card ng-controller='loginCtrl'>
      <div layout='row' class="login-div">
        <div flex-offset-lg='30' flex-lg="60" flex-offset-md='20' flex-md="60" flex-offset-sm='30' flex-sm="60" flex-offset-xs='30'
          flex-xs="60">
          <md-card-content>
              <form name="loginForm" novalidate ng-submit="loginForm.$valid &&  fnLogin(user)">
              <div layout="column">
                <md-input-container>
                  <input type="text" name="userName" ng-model="user.username" placeholder="USERNAME" required>
                  <div ng-messages="loginForm.userName.$error">
                    <div ng-message="required">This is required!</div>
                  </div>
                </md-input-container>
              </div>
              <br>
              <div layout="column">
                <md-input-container>
                  <input type="password" name="password" ng-model="user.password" placeholder="PASSWORD" required>
                  <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">This is required!</div>
                  </div>
                </md-input-container>
              </div>
              <br>
              <div layout="column">
                <md-checkbox ng-model="user.isRemeber" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">
                  Remeber login
                </md-checkbox>
                <a href="" flex-lg="30" flex-md="30" flex-sm="100" flex-xs="100">Forgot Password?  </a>
              </div>
              <br>
              <br>
              <div class="login-button-div">
                <div layout='row'>
                  <md-button type="submit" flex-offset-md="20" flex-md="50" flex-offset-lg="30" flex-lg="50" flex-offset-sm="20" flex-sm="60"
                    flex-offset-xs="20" flex-xs="60" class="login-button md-raised md-primary" ng-disabled="loginForm.$invalid">
                    LOGIN </md-button>
                </div>
              </div>
            </form>
            <div class="text-center" ng-if="isWorngPsw" style="color:red"> User name or Password wrong</div>
            <div class="text-center" ng-if="noUsersData" style="color:red"> {{errorText}}</div>
          </md-card-content>
          <md-card-footer>
            <div layout="column" class="login-footer-div">
              <h4 flex-offset-md="30" flex-md="50" flex-offset-lg="30" flex-lg="50" flex-offset-sm="20" flex-sm="60" flex-offset-xs="20"
                flex-xs="60"><b>LOG IN WITH</b></h4>
              <div layout='row' class="login-icon-div">
                <span flex-md="35" flex-sm="35" flex-xs="35" flex-lg="35"><i class="fa fa-facebook login-icon" ng-click='onFBLogin()' aria-hidden="true"></i></span>
                <span flex-md="35" flex-sm="35" flex-xs="35" flex-lg="35"><i class="fa fa-twitter login-icon" aria-hidden="true"></i></span>
                <span flex-md="35" flex-sm="35" flex-xs="35" flex-lg="35"><i ng-click='onGoogleLogin()' class="fa fa-google login-icon" aria-hidden="true"></i></span>
                <span flex-md="35" flex-sm="35" flex-xs="35" flex-lg="35"><i class="fa fa-yahoo login-icon" aria-hidden="true"></i></span>
              </div>
            </div>
          </md-card-footer>
        </div>
      </div>
    </md-card>
  </div>
</div>