.signup-div{
	text-align: center;
	.signup-image-class{
		height: 600px;
		margin-right: 40px;
	}
	.signup-footer-div{
		text-align: center;
		.signup-icon-div{
			margin-top: 20px;
			.signup-icon{
				margin-left: 10px;
				color: #5f90db;
				font-size: 20px;
			}
			.signup-icon-class{
				margin-left: 20px;
				color: #5f90db;
				font-size: 20px;
			}
		}
	}
	
}

