<md-card>
    <div layout='column'>
        <div layout='row' class="signup-div">
            <div flex-md='40' flex-sm="40" flex-xs="40">
                <img class="signup-image-class" src="./images/5.jpg">
            </div>
            <!-- <div flex-md="20" flex-sm="20" flex-xs="20">
            
        </div> -->
            <div flex-md="60" flex-sm="50" flex-xs="50">
                <md-card-content>
                    <md-input-container>
                        <input type="text" ng-model="firstname" placeholder="FIRST NAME">
                    </md-input-container>
                    <br>
                    <md-input-container>
                        <input type="text" ng-model="lastname" placeholder="LAST NAME">
                    </md-input-container>
                    <br>
                    <md-input-container>
                        <input type="text" ng-model="email" placeholder="EMAIL">
                    </md-input-container>
                    <br>
                    <md-input-container>
                        <input type="text" ng-model="password" placeholder="PASSWORD">
                    </md-input-container>
                    <br>
                    <md-radio-group layout="row" flex-offset="30" flex-offset-sm="30">
                        <md-radio-button ng-value="male" ng-model="male">
                            Male
                        </md-radio-button>
                        <md-radio-button ng-value="female" ng-model="female">
                            Female
                        </md-radio-button>
                    </md-radio-group>
                    <br>
                    <md-button class="md-raised md-primary"> SIGNUP </md-button>
                </md-card-content>
                <md-card-footer>
                    <div layout="column" class="signup-footer-div">
                        <h4>SIGN UP WITH</h4>
                        <div class="signup-icon-div">
                            <span class="signup-icon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                            <span class="signup-icon-class"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                            <span class="signup-icon-class"><i class="fa fa-google" aria-hidden="true"></i></span>
                            <span class="signup-icon-class"><i class="fa fa-yahoo" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </md-card-footer>
            </div>
        </div>
    </div>
</md-card>
