<md-card>
    <div layout='row' class="signup-div">
        <div flex='60' class="sign-side-text-div">
        	<img class="signup-image-class" src="./images/5.jpg">
        </div>
        <div flex="60">
            <md-card-content>
                <md-input-container>
                    <input type="text" ng-model="username" placeholder="EMAIL">
                </md-input-container>
                <br>
                <md-input-container>
                    <input type="text" ng-model="password" placeholder="USERNAME">
                </md-input-container>
                <br>
                <md-input-container>
                    <input type="text" ng-model="password" placeholder="PASSWORD">
                </md-input-container>
                <br>
                <md-button class="md-raised md-primary"> SIGNUP </md-button>
            </md-card-content>
            <md-card-footer>
                <div layout="column" class="signup-footer-div">
                    <h4>SIGN UP WITH</h4>
                    <div class="signup-icon-div">
                        <span class="signup-icon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                        <span class="signup-icon-class"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
                        <span class="signup-icon-class"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </div>
                </div>
            </md-card-footer>
        </div>
    </div>
</md-card>
