<div class="container-fluid footer-div">
    <div class="footer-innerdiv">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div>
                <p>Features</p>
                <p>Download</p>
                <p>Security</p>
                <p>FAQ</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div>
                <p>About</p>
                <p>Career</p>
                <p>Brand Centre</p>
                <p>Get in Touch</p>
                <p>Blog</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div>
                <p>Mac/Pc</p>
                <p>Andorid</p>
                <p>iphone</p>
                <p>Windows Phone</p>
                <p>Black berry</p>
                <p>Nokia</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div>
                <p>FAQ</p>
                <p>Twitter</p>
                <p>Facebook</p>
            </div>
        </div>
    </div>
</div>