<nav class="navbar navbar-default">
    <div class="container-fluid navbar-class">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand font-color" ui-sref="home" style="padding-top:8px;"><img src="../../images/logo.png" height="30"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a class="font-color" ui-sref="home.features">Features</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle font-color" data-toggle="dropdown" ui-sref="home.download">Download</a>
                </li>
                <li><a class="font-color" ui-sref="home.security">Security</a></li>
                <li><a class="font-color" ui-sref="home.faq">FAQ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li><a class="font-color" ui-sref="app.login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>