<div class="animation-view">
<ul class="cb-slideshow">
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
    <li><span>Image 05</span></li>
    <li><span>Image 06</span></li>
    <div ng-cloak="" layout="column" layout-sm="row" layout-align="center center" layout-align-sm="start start" layout-fill>
        <div ui-view></div>
        <div class="footer-login" layout="column">
            <!--style="background-color: #3f51b5"-->
            <div layout="row" style="color: white;margin-top: 8px;padding-left: 3%;">
                <div flex-lg="30" flex-md="30" flex-sm="30" flex-xs="30">
                    <p>
          <span><i class="fa fa-copyright" aria-hidden="true"></i></span>
          <span>2017 MeetMe.<span>Espanol</span>,<span>portugues</span>
        </p>
                </div>
                <div layout="row" style="color: white;" flex-lg="30" flex-md="30" flex-sm="30" flex-xs="30">
                    <span flex-md="15" flex-lg="15" flex-sm="15" flex-xs="15"><i style="font-size: 25px;" class="fa fa-twitter" aria-hidden="true"></i></span>
                    <span flex-md="15" flex-lg="15" flex-sm="15" flex-xs="15"><i style="font-size: 25px;" class="fa fa-instagram" aria-hidden="true"></i></span>
                    <span flex-md="15" flex-lg="15" flex-sm="15" flex-xs="15"><i style="font-size: 25px;" class="fa fa-facebook" aria-hidden="true"></i></span>
                </div>
                <div layout="row" flex-offset-lg="30" flex-offset-md="30" flex-offset-sm="30" flex-offset-xs="30" flex-lg="30" flex-md="30" flex-sm="30" flex-xs="40">
                    <span flex-md="15" flex-lg="15" flex-sm="15" flex-xs="15"><md-button class="zero-top-margin"><i style="font-size: 25px;" class="fa fa-android" aria-hidden="true"></i>
        </md-button></span>
                    <span flex-md="15" flex-lg="15" flex-sm="15" flex-xs="15"><md-button class="zero-top-margin"><i style="font-size: 25px;" class="fa fa-apple" aria-hidden="true"></i>
        </md-button></span>
                    <span flex-md="15" flex-lg="15" flex-sm="15" flex-xs="15"><md-button class="zero-top-margin"><i style="font-size: 25px;" class="fa fa-windows" aria-hidden="true"></i>
        </md-button></span>
                </div>
            </div>
        </div>
</ul>
<div>
